a:hover {
    background-color: yellow;
    cursor: pointer;
}
button{
  border: none;
  text-align: center;
  width:100px;
    height:100px;
    display:block;
    float:left;

}
.qwerty{
  background-color: blue;
  width: 5%;
  border-radius: 15px;

}
.qwerty12{
  background-color: pink;
  height: 7%;

}
.qwerty123{
  background-color: red;
  padding: 4px;
}
